* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

/*Header*/
.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 8px 1px gray;
  background: white;
}

.nav-bar {
  max-width: 1024px;
  display: flex;
  margin: 0 auto;
  padding: 0.5em 1em;
  justify-content: space-between;
}

.anchor-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo_name {
  padding-left: 0.5em;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.nike_logo {
  width: 4em;
}

.nav-bar__nav {
  display: flex;
  align-items: center;
}

.nav {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 0.2em 0.2em;
  margin: 0 0.5em;
}

.nav:hover {
  color: plum;
}

.current-page {
  border-bottom: solid 2px plum;
}

.nav-cart {
  position: relative;
}

.cart__products-count {
  width: 0.5em;
  height: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.3em;
  right: -0.3em;
  padding: 0.5em;
  border-radius: 100%;
  font-size: 11px;
  color: white;
  background: orangered;
}

.main {
  max-width: 1024px;
  flex-wrap: wrap;
  gap: 2em 1.5em;
  justify-content: center;
  margin: 4em auto;
}

.main__bill {
  display: flex;
  justify-content: center;
}

/* Empty */
.img__empty,
.bill-empty {
  margin: 30px auto;
}

.bill__back {
  padding: 0.5em 0.5em;
  border: solid 1px orangered;
  border-radius: 0.2em;
  font-size: 18px;
  color: orangered;
  text-decoration: none;
}

.bill__back:hover {
  color: plum;
}

/* List product */
.main__bill-noempty {
  width: 100%;
  margin: 40px 0 30px 0;
}

.bill__product-title {
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 1.1rem;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #e2e0e0;
}

.bill__product-title div {
  flex: 1;
  text-align: center;
}

/* List-item */
.bill__product-list {
  display: flex;
  flex-direction: column;
}

.bill__product-item {
  display: flex;
  padding: 20px 0;
  font-size: 1rem;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #e2e0e0;
}

.bill__product-item div {
  flex: 1;
}

.bill__product-item {
  text-align: left;
}

/* icon delete */
.icon-delete {
  color: orangered;
  padding: 6px 8px;
  font-size: 20px;
  cursor: pointer;
}

.icon-delete:hover {
  color: plum;
}

/* Details */
.item-id {
  margin-bottom: 4px;
}

.detail-text {
  margin-top: 4px;
  color: #0192cb;
  cursor: pointer;
}

.detail-text:hover {
  color: plum;
}

/* Modal Detail */
.modal-detail {
  left: 0;
  top: 80%;
  position: absolute;
  z-index: 3;
}

.modal-content {
  width: 420px;
  overflow: hidden;
  font-size: 1.4rem;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}

.modal-title {
  color: #0192cb;
  padding-bottom: 6px;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 20px;
  border-bottom: 1px solid rgba(3, 102, 214, 0.3);
  text-transform: uppercase;
}

/* buyer */
.buyer-info {
  padding: 10px 12px 0 12px;
}

.buyer-info p {
  margin-bottom: 9px;
}
/* order */
.order-detail {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 150px;
  padding: 0 12px;
}

.order-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(226, 224, 224);
  padding: 4px 0;
}

.img_colums {
  width: 70px;
  height: 60px;
  margin-right: 8px;
}

.desPro {
  display: flex;
  flex-direction: column;
}

.modal-content .close {
  top: 0;
  right: 0;
  padding: 4px;
  font-weight: 600;
  font-size: 2.4rem;
  cursor: pointer;
  color: #ff2a00;
  border-radius: 0 6px 0 6px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: rgba(3, 102, 214, 0.3);
  position: absolute;
}

.modal-content .close:hover {
  color: #fff;
  background-color: red;
}
/* Nav */
.nav__item:last-child a {
  color: #ff7300;
}

.text-center {
  text-align: center;
}
